/*
 *Name: Michael Geer
 *UnityID: mggeer
 *Date: 4/7/23
 *Assignment: Independent Assignment 4 
 *Description: [Assignment Description]
 */
 
* {
    background-color: #DBC9F1
    
    
}

.table-border {
   border: 1px solid #FFFFFF;
 
}

#photo-resize {
    max-width: 200px;
    max-height: 250px;
    border: 2px outset #00FF00;
}