/*
 *Name: Michael Geer
 *UnityID: mggeer
 *Date: 4/6/23
 *Assignment: Guided Lab 4
 *Description: Guided lab assignment, about me webpage
 */
 
p {
    property: value;
}

.class {
    property: value;
}

#id {
    property:value;
}
