/*
 *Name: Michael Geer
 *UnityID: mggeer
 *Date: 4/6/23
 *Assignment: Guided Lab 4
 *Description: Guided lab assignment, about me webpage
 */
 
p {
    font-family: "Times New Roman";
    font-size: 16px;
    Color: #FFFFFF;
}

.table-border {
   border: 1px solid #FFFFFF;
 
}

#photo-resize {
    max-width: 250px;
    max-height: 300px;
}
